﻿<link rel="import" href="/sys/polymer/polymer.html" />
<link rel="import" href="/sys/bootstrap.html">
<link rel="stylesheet" href="/sys/mailbox.css">

<template>
    <template is="dom-bind">
        <h3>MailSync OAuth2 Settings</h3>
        <div class="alert alert-info">
            <p>
                You need to register an OAuth2 "app" with Google and then provide the ClientID & ClientSecrects You get after registration below.<br />
                The callback urls that You shall use during registering is http(s)://[yourserver]/mailsync/google/callback.
            </p>
            <p>
                Example: <span class="example">http://127.0.0.1:8080/mailsync/google/callback</span> or <span class="example">https://www.company.org/mailsync/google/callback</span>
            </p>
        </div>

        <div style="margin-bottom: 20px;">
            <h4>Google</h4>
            <div class="form-horizontal">
                <label>
                    <input type="checkbox" id="GoogleEnabled$" class="form-control" checked="{{model.GoogleEnabled$::change}}" />
                    Enabled
                </label>
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="GoogleClientID$">ClientID</label>
            </div>
            <div>
                <input id="GoogleClientID$" type="text" value="{{model.GoogleClientID$::change}}" placeholder="" class="form-control" />
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="GoogleClientSecret$">ClientSecret</label>
            </div>
            <div>
                <input id="GoogleClientSecret$" type="text" value="{{model.GoogleClientSecret$::change}}" placeholder="" class="form-control" />
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="GoogleClientID$">GMail Push TopicName</label>
            </div>
            <div>
                <input id="GooglePushTopicName$" type="text" value="{{model.GooglePushTopicName$::change}}" placeholder="" class="form-control" />
            </div>

        </div>

        <!-- Microsoft not implemented yet
        <div style="margin-bottom: 20px;">
            <h4>Microsoft</h4>

            <div>
                <label class="control-label">
                    <input type="checkbox" id="MicrosoftEnabled$" class="form-control" checked="{{model.MicrosoftEnabled$::change}}" />
                    Enabled
                </label>
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="MIcrosoftClientID$">Microsoft ClientID</label>
            </div>
            <div>
                <input id="MicrosoftClientID$" type="text" value="{{model.MicrosoftClientID$::change}}" placeholder="" class="form-control" />
            </div>
            <div class="form-horizontal">
                <label class="control-label" for="MicrosoftClientSecret$">Microsoft ClientSecret</label>
            </div>
            <div>
                <input id="MicrosoftClientSecret$" type="text" value="{{model.MicrosoftClientSecret$::change}}" placeholder="" class="form-control" />
            </div>
        </div>
        -->

        <div  style="margin-bottom: 20px;">
            <button class="btn btn-primary" onmousedown="++this.value;" value="{{model.Save$::click}}">Save</button>
            <button class="btn btn-warning" value="{{model.Undo$::click}}">Undo</button>
        </div>
    </template>
</template>
