﻿<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        <h3>You're all setup!</h3>
        
        <div>
            <h4>Inbox (5 latest)</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>From</th>
                        <th>Subject</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{model.Inbox}}">
                        <tr>
                            <td>{{item.Created}}</td>
                            <td>{{item.From.Email}}</td>
                            <td>{{item.Subject}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div>
            <h4>Send a Test message</h4>
            <div>
                <label>
                    To
                    <input id="To$" type="text" value="{{model.Test.To$::change}}" placeholder="" class="form-control" />
                </label>
            </div>
            <div>
                <label>
                    Subject
                    <input id="Subject$" type="text" value="{{model.Test.Subject$::change}}" placeholder="" class="form-control" />
                </label>
            </div>
            <div>
                <label>
                    Body
                    <input id="Body$" type="text" value="{{model.Test.Body$::change}}" placeholder="" class="form-control" />
                </label>
            </div>
            <div>
                <button class="btn btn-sm btn-default" value="{{model.Test.Send$::click}}" onmousedown="++this.value">Send</button>
            </div>
        </div>

        <div class="pull-right">
            <button class="btn btn-sm btn-danger" value="{{model.Remove$::click}}" onmousedown="++this.value">Remove this Mailbox sync</button>
        </div>
    </template>
</template>
