﻿<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">

        <h3>You need to link your Google+ account and allow MailSync access to read/write your Google Mail Inbox</h3>
        <a class="btn btn-success" href="/mailsync/google/signin?final_destination={{model.FinalDestination}}&scope={{model.Scope}}" target="_self">Link Google+ account</a>

    </template>
</template>
