﻿<link rel="import" href="/sys/polymer/polymer.html">
<link rel="stylesheet" href="/sys/font-awesome-4.7.0/css/font-awesome.min.css">

<template>
    <template is="dom-bind">
        <div class="alert alert-warning" style="font-size: larger"><i class="fa fa-2x fa-exclamation-circle"></i> You need to be signed in to use MailSync</div>
    </template>
</template>
